# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# CMake
cmake-build-*/


# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CLion files
.idea

# Debug symbols
*.dSYM

# Exe files
*.exe